SENDGRID_API_KEY='Fill this in with your SendGrid API Key'
TWILIO_ACCOUNT_SID='Fill this in with your Twilio Account SID'
TWILIO_AUTH_TOKEN='Fill this in with your Twilio Auth Token'
TWILIO_PHONE_NUMBER='Fill this in with your Twilio Phone Number in E.164 formatting'
TWILIO_TEST_RECEIVER_PHONE_NUMBER='Fill this in with your phone number to test SMS reception'
